<form method="POST">

    <input type="text" name="name" placeholder="Name">
    <input type="text" name="breeder name" placeholder="Breeder">
    <input type="date" name="birth_date" placeholder="DOB">

    <select name="sex">
        <option value="hob">Hob</option>
        <option value="jill">Jill</option>
    </select>

    <label>Role</label>
    <select name="role">
        <option value="breeder">Breeder</option>
        <option value="companion">Companion</option>
    </select>

    <label>Status</label>
    <select name="status">
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
        <option value="retired">Retired</option>
        <option value="rehomed">Rehomed</option>
        <option value="deceased">Deceased</option>
    </select>

    <select name="proven">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>

    <label>Size</label>
    <select name="size">
        <option value="micro">Micro</option>
        <option value="mini">Mini</option>
        <option value="standard">Standard</option>
    </select>

    <label>Color</label>
    <select name="color">
        <option value="albino">Albino</option>
        <option value="black">Black</option>
        <option value="black sable">Black sable</option>
        <option value="champagne">Champagne</option>
        <option value="chocolate">Chocolate</option>
        <option value="cinnamon">Cinnamon</option>
        <option value="dew">DEW</option>
        <option value="roan">Roan</option>
        <option value="sable">Sable</option>
    </select>

    <label>Pattern</label>
    <select name="pattern">
        <option value="standard">Standard</option>
        <option value="roan">Roan Mitt</option>
        <option value="point">Point</option>
        <option value="solid">Solid</option>
        <option value="blaze">Blaze</option>
        <option value="panda">Panda</option>
        <option value="mitt">Mitt</option>
    </select>

    <label>Fur</label>
    <select name="fur">
        <option value="natural">Natural</option>
        <option value="angora">Angora</option>
        <option value="semi-angora">Semi-Angora</option>
        <option value="plush">Plush</option>
    </select>

    <label>Heritage</label>
    <input type="text" name="heritage" placeholder="Example: Domestic, Polecat, Hybrid 25%">

    <label>Temperament</label>
    <textarea type="text" name="temperament" placeholder="notes"></textarea>

    <label>Condition</label>
    <textarea type="text" name="condition_notes" placeholder="notes"></textarea>

        <button type="submit">Add Ferret</button>


</form>